{# SPDX-License-Identifier: GPL-3.0-or-later
#
# Copyright (c) 2023 - present Expiscor Group Inc.
#
# This file is part of Orion's Belt Project (https://github.com/IncudoLABS/orions-belt).
#
# Published by the IncudoLABS.
# Original author: Marko Sarunac <128757181+SaruWiz@users.noreply.github.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#
# Template ID: OB-007-T
# Used by: OB-007
#}
#
# This file contains a Fail2ban filter for dynamic log scanning.
# It is used by the OB-007 (configure_network_security.yml) playbook.
#
[Definition]

# Common attack patterns to detect
failregex = 
    # SQL Injection attempts
    (?i).*sql.*injection.*
    (?i).*union.*select.*
    (?i).*drop.*table.*
    (?i).*insert.*into.*
    (?i).*delete.*from.*
    (?i).*update.*set.*
    (?i).*exec.*sp_.*
    (?i).*xp_cmdshell.*
    
    # XSS attempts
    (?i).*<script.*>.*
    (?i).*javascript:.*
    (?i).*onload=.*
    (?i).*onerror=.*
    (?i).*onclick=.*
    
    # Directory traversal
    (?i).*\.\./.*\.\./.*
    (?i).*\.\.\\\.\.\\.*
    (?i).*%2e%2e%2f.*
    (?i).*%2e%2e%5c.*
    
    # Command injection
    (?i).*;.*cat.*
    (?i).*;.*ls.*
    (?i).*;.*rm.*
    (?i).*;.*wget.*
    (?i).*;.*curl.*
    (?i).*;.*nc.*
    (?i).*;.*bash.*
    (?i).*;.*sh.*
    
    # File inclusion
    (?i).*include.*\.\./.*
    (?i).*require.*\.\./.*
    (?i).*include_once.*\.\./.*
    (?i).*require_once.*\.\./.*
    
    # Authentication bypass
    (?i).*admin.*=.*true.*
    (?i).*user.*=.*admin.*
    (?i).*role.*=.*admin.*
    (?i).*auth.*=.*bypass.*
    
    # Common web attacks
    (?i).*eval\(.*
    (?i).*base64_decode\(.*
    (?i).*system\(.*
    (?i).*shell_exec\(.*
    (?i).*passthru\(.*
    (?i).*exec\(.*
    
    # PHP specific attacks
    (?i).*php://.*
    (?i).*data://.*
    (?i).*file://.*
    (?i).*ftp://.*
    (?i).*http://.*
    (?i).*https://.*
    
    # WordPress specific
    (?i).*wp-config.*
    (?i).*wp-admin.*
    (?i).*wp-includes.*
    (?i).*wp-content.*
    
    # Drupal specific
    (?i).*drupal.*
    (?i).*sites/default/settings.php.*
    
    # Joomla specific
    (?i).*joomla.*
    (?i).*configuration.php.*
    
    # Generic error patterns that might indicate attacks
    (?i).*error.*in.*your.*SQL.*syntax.*
    (?i).*mysql.*error.*
    (?i).*postgresql.*error.*
    (?i).*oracle.*error.*
    (?i).*microsoft.*sql.*server.*error.*
    
    # Brute force patterns
    (?i).*failed.*login.*
    (?i).*invalid.*password.*
    (?i).*authentication.*failed.*
    (?i).*login.*failed.*
    (?i).*access.*denied.*
    
    # Suspicious user agents
    (?i).*bot.*
    (?i).*crawler.*
    (?i).*spider.*
    (?i).*scanner.*
    (?i).*nmap.*
    (?i).*nikto.*
    (?i).*sqlmap.*
    (?i).*burp.*
    (?i).*zap.*
    (?i).*w3af.*
    
    # Common attack tools
    (?i).*havij.*
    (?i).*sqlmap.*
    (?i).*acunetix.*
    (?i).*nessus.*
    (?i).*openvas.*
    (?i).*qualys.*
    (?i).*rapid7.*
    (?i).*metasploit.*
    
    # Suspicious requests
    (?i).*\.\./.*\.\./.*\.\./.*
    (?i).*\.\.\\\.\.\\\.\.\\.*
    (?i).*%00.*
    (?i).*%0a.*
    (?i).*%0d.*
    (?i).*%0d%0a.*
    
    # Common exploit patterns
    (?i).*shell.*
    (?i).*cmd.*
    (?i).*command.*
    (?i).*execute.*
    (?i).*runtime.*
    (?i).*process.*
    
    # File upload attempts
    (?i).*\.php.*\.jpg.*
    (?i).*\.php.*\.gif.*
    (?i).*\.php.*\.png.*
    (?i).*\.php.*\.txt.*
    (?i).*\.asp.*\.jpg.*
    (?i).*\.aspx.*\.jpg.*
    (?i).*\.jsp.*\.jpg.*
    
    # Common web shells
    (?i).*r57.*
    (?i).*c99.*
    (?i).*b374k.*
    (?i).*weevely.*
    (?i).*webshell.*
    (?i).*backdoor.*
    (?i).*trojan.*
    (?i).*malware.*
    
    # Information disclosure
    (?i).*server.*information.*
    (?i).*version.*information.*
    (?i).*debug.*information.*
    (?i).*stack.*trace.*
    (?i).*error.*details.*
    
    # Common attack signatures
    (?i).*union.*select.*
    (?i).*select.*union.*
    (?i).*insert.*select.*
    (?i).*update.*select.*
    (?i).*delete.*select.*
    (?i).*drop.*select.*
    (?i).*create.*select.*
    (?i).*alter.*select.*
    
    # NoSQL injection
    (?i).*\$where.*
    (?i).*\$ne.*
    (?i).*\$gt.*
    (?i).*\$lt.*
    (?i).*\$regex.*
    (?i).*\$exists.*
    
    # LDAP injection
    (?i).*\(.*\|\|.*\)
    (?i).*\(.*&&.*\)
    (?i).*\(.*!.*\)
    (?i).*\(.*\*.*\)
    (?i).*\(.*\).*\(.*\)
    
    # XML injection
    (?i).*<!\[CDATA\[.*
    (?i).*<!DOCTYPE.*
    (?i).*<\!ENTITY.*
    (?i).*<\!ELEMENT.*
    (?i).*<\!ATTLIST.*
    
    # JSON injection
    (?i).*\"script\".*
    (?i).*\"javascript\".*
    (?i).*\"onload\".*
    (?i).*\"onerror\".*
    (?i).*\"onclick\".*

# Ignore legitimate requests
ignoreregex = 
    # Ignore localhost requests
    ^127\.0\.0\.1.*
    ^::1.*
    ^localhost.*
    
    # Ignore common legitimate user agents
    (?i).*mozilla.*
    (?i).*chrome.*
    (?i).*firefox.*
    (?i).*safari.*
    (?i).*edge.*
    (?i).*opera.*
    (?i).*ie.*
    
    # Ignore legitimate search engines
    (?i).*googlebot.*
    (?i).*bingbot.*
    (?i).*slurp.*
    (?i).*duckduckbot.*
    (?i).*facebookexternalhit.*
    (?i).*twitterbot.*
    (?i).*linkedinbot.*
    
    # Ignore health checks
    (?i).*health.*check.*
    (?i).*ping.*
    (?i).*monitoring.*
    (?i).*uptime.*
    
    # Ignore legitimate API calls
    (?i).*api.*
    (?i).*rest.*
    (?i).*json.*
    (?i).*xml.*
    
    # Ignore legitimate file requests
    (?i).*\.css.*
    (?i).*\.js.*
    (?i).*\.png.*
    (?i).*\.jpg.*
    (?i).*\.jpeg.*
    (?i).*\.gif.*
    (?i).*\.ico.*
    (?i).*\.svg.*
    (?i).*\.woff.*
    (?i).*\.woff2.*
    (?i).*\.ttf.*
    (?i).*\.eot.*
    (?i).*\.pdf.*
    (?i).*\.txt.*
    (?i).*\.xml.*
    (?i).*\.json.* 